<h2>Dodgeball Teams</h2>

<%= link_to "Add new team", new_team_path %>
<ul>
  <% @teams.each do |team| %>
    <li>
      <%= team.name %> 
      <span>
        <%= link_to "Delete", team_path(team), method: :delete, remote: true, class: "delete-team", data: {confirm: "Are you sure?"} %>
      </span>

      <span><%= image_tag team.logo.url(:thumb) %></span>
    </li>
  <% end %>  
</ul>