<% if current_user %>
  <p>Welcome <%= current_user.email %> </p>
  <p><%= link_to 'Sign out', sign_out_path, method: :delete  %> </p>
<% else %>
  <p><%= link_to 'Sign in', sign_in_path %></p>
<% end %>
