<!DOCTYPE html>
<html>
<head>
  <title>DodgeballRoster</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= flash[:notice] if flash[:notice] %>
  <%= flash[:alert] if flash[:alert] %>

  <%= render 'layouts/navigation' %>

  <%= yield %>
</body>
</html>
